.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(189, 189, 241);
    height: 100vh;
}

.timer-container{
    width: 600px;
    height: 400px;
    background-color: white;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.timer-container #header{
    margin-top: 4.5rem;
   
}


/* timer-display */
.timer-display-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 5rem;
    height: 3rem;
    margin-top: 1.2rem;
  
    background-color: rgb(189, 189, 241);

}

/* button-container */
.button-container{
    margin-top: 2rem;
    display: flex;
    
}

.button-container .button{
    margin-right: 0.5rem;
    padding: 0.5rem 1rem ;
    border: 0.3px solid rgba(0, 0, 0, 0.221);
    border-radius: 2px;
    color: black;
}

.button-container .start-button{
    background-color: green;
}

.button-container .stop-button{
    background-color: white;
}

.button-container .reset-button{
    background-color: rgb(255, 115, 0);
}
